<!--The content below is only a placeholder and can be replaced.-->
<div class="centered-content main-container">
  <img alt="Dan Byrne" src="/assets/images/avatar.png" class="avatar">
    <header>
      <h1>Dan Byrne</h1>
      <h2>Software Development Stuff</h2>
    </header>

    <content>
    <ul aria-label="Links:" class="centered-content">
      <li>Software Consultancy Services</li>
      <li>My CV</li>
    </ul>

    <ul aria-label="Projects:" class="centered-content">
        <li>Temperature Monitor</li>
    </ul>
    
    <router-outlet></router-outlet>

  </content>
</div>



